html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;;
}

#three-canvas {
  position: fixed;
  top: 0;
  left: 0;
}

#video {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 220px;
  border-radius: 10px;
  border: 2px solid #0ff;
  opacity: 0.85;
  z-index: 10;
}
